shepherd-theme-arrows {
  background: #fff;
  color: #000;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
}
.shepherd-content {
  padding: 1px 1.5px;
}
 
 
 
.shepherd-button {
  padding: 1px 1.5px !important;
  background-color: #000 !important;
  color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  flex: 1 1 auto;
  min-width: 30px;
  text-align: center;
}
 
 
.shepherd-button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  background-color: #ccc;
  color: #666!important;
}